<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
    <style>
        table, td, th {
            border: 1px solid black;
        }
        th {
            font-weight: bolder;
        }
        td,th{
            padding: 5px;
        }
        li a{
            color:red;
        }
        .foto{
            max-width: 200px;
            max-height: 200px;
        }
    </style>
</head>
<body>
    <h1>USUÁRIOS</h1>
    <ul>
        <li><a href="/add">Adiciona</a></li>
        <li><a href="/">Listar</a></li>
    </ul>
    <br>